AWS_BUCKET_NAME_VALUE=seu-bucket-aqui
AWS_BUCKET_REGION_VALUE=us-east-2
AWS_ACCESS_KEY_VALUE=sua-access-key-aqui
AWS_SECRET_KEY_VALUE=sua-secret-key-aqui

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
